body {
    font-family: 'Indie Flower', cursive;
    background-image: url(Images/FondoBody.jpg);
    background-size: cover;
    
}

header {
    background-color: white;
    max-width: 1024px;
    margin: 0 auto;
}

table {
    border: 1px solid;
    width: 750px;
}

td{
    border: 1px solid;
    width: 325px; 
    text-align: center;
    background-color: white;
}

ul {
    margin: 0px;
    list-style: none;    
    padding: 0px;
}

li {
    display: inline-block;
    padding: 10px;
}

a {
    padding: 5px;
    text-decoration: none;
    color: black;
}

li:hover {
    background-color: #D3D3D3;
    color: black;
    border-radius: 8px;
}

th {
    background-color: #01CFF2;
}

main {
    display: grid;
    grid-template-columns: 1fr 400px;
    max-width: 1024px;
    margin: 0 auto;
    gap: 20px;
}

.aside {
    max-width: 271px;
    font-size: 13px;
}

.fuente {
    width: 200px;
    height: 100px;
    display: inline-block;
    margin: 0 auto;
}

.fondo {
    width: 200px;
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
    margin: 0 auto;
}

.div-fuente {
    border-radius: 30rem;
    border:red  8px double;
    width: 310px;
    display: inline-block;
    margin: 0 auto;
}

.cuadro1 {
    border:green 15px ridge;
    width: 130px;
    height: 75px;
    margin-bottom: 20px;
    display: inline-block;
}

.cuadro2 {
    border:purple 15px outset;
    width: 130px;
    height: 75px;
    display: inline-block;
    background-color: yellow;
}

.footer {
    background-color: black;
    color: white;
}

.article {
    margin: 25px;
}

.article h3 , .article p {
    text-align: left;
}

.animation {
    transition: 1s;
}

.animation:hover {
    transform: translateX(50px);
    transition: 1s;
}

.animation-div {
    width: 147px;
}

.title {
    border-bottom: 2px solid;
    width: 255px;
}

.aside p:hover {
    color: red;
}